* {
    border: none;
    border-radius: 0;
    font-family:departuremono;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background:rgba( 0, 107, 107, 0.9);
    border-top: 1px solid rgba(202, 174, 92, 0.5);
    color: #ffffff;
  
  }

window#waybar.hidden {
    opacity: 0.0;
}

#workspaces button {
    border-radius: 15;
    padding: 0 5px;
    border: 1px inset #2f4f4f;
    margin-top: 4px;
    margin-bottom: 2px;
    border-radius: 3px;
    margin-left: 1px;
    margin-right: 2px;
    background-color: #15364d;

}

#workspaces button.focused {
    background: rgba(38, 106, 143, 1);
    border-radius: 15;
    padding:0 5px;
  	border: 1px inset #2f4f4f;
    margin-top: 4px;
    margin-bottom: 2px;
    border-radius: 3px;
    margin-left: 1px;
    margin-right: 2px;
}

#workspaces button.urgent {
    background-color: #9C3133;
}

#disk {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
}

#mode {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;

}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 0px;
}

#clock {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
    
}

#battery {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
}

#battery.charging {
    color: #a8ffd4;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #000000;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;

}

#memory {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;

}

#backlight {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
}

#network {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
}

#window {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
}
#network.disconnected {
    background: #ffffff;
    color: #000000;
}

#pulseaudio {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;    
}

#pulseaudio.muted {
    background: transparent;
    color: rgba(255, 255, 255, 0.60);
}

#custom-media {
    background: #66cc99;
    color: #2a5c45;
}

.custom-spotify {
    background: #66cc99;
}

.custom-vlc {
    background: #ffa000;
}

#temperature {
    background: #f0932b;
}

#temperature.critical {
    background: #eb4d4b;
}

#tray {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;

}
.wlr-taskbar {
  color: white;
	font-size: 16px;
	padding-left: 6px;
	padding-right: 10px;
	border: 2px solid #15364d;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 7px;
  margin-left: 1px;
  margin-right: 2px;
}
#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
#custom-rofi {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 10px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
}
#custom-home {
  color: white;
  background-color: #15364d;
	padding-left: 6px;
	padding-right: 7px;
	border: 1px inset #2f4f4f;
  border-radius: 3px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
	
}
